streamlit==1.47.1
pandas==2.4.3
pandas-ta==0.3.14b0
numpy==2.3.2
matplotlib==3.8.4
scikit-learn==1.4.2
statsmodels==0.14.4
selenium
webdriver-manager
beautifulsoup4
plotly
setuptools



